@import url("//cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css");
@import url("https://unpkg.com/@sakun/system.css");
@import url("https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .table-mypage td,
  .table-mypage th {
    @apply py-3 px-2;
  }
}

/* @font-face {
  font-family: "DungGeunMo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
} */

* {
  box-sizing: border-box;
  font-family: galmuri9, Pretendard, -apple-system, BlinkMacSystemFont,
    system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo",
    "Noto Sans KR", "Malgun Gothic", sans-serif !important;
  /*   font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif; */
}

html {
  overflow: hidden;
}

.keep-all {
  word-break: keep-all;
}

.main-background {
  /* background: linear-gradient(90deg, #666 2px, transparent 1%) 50%,
    linear-gradient(#666 2px, transparent 1%) 50%, #fff; */
  background-color: darksalmon;
  background-attachment: fixed;
  background-size: 3px 3px;
}

img {
  image-rendering: pixelated;
}
